th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

td.empty {
    background-color: #ffffff;
}

td.hom {
    background-color: #f04124;
    color: #f04124;
}

td.het {
    background-color: #000000;
    color: #000000;
}

td.both {
    background-color: #00A000;
    color: #00A000;
}

table.legend td{
    min-width: 10em;
    text-align: center;
    font-weight: bold;
    border-width: 0em 1em;
    border-style: solid;
    border-color: white;
}

#content {
    margin-left: 30px;
    margin-right: 30px;
}

label {
    margin-bottom: 5px;
}

.select2 {
    width: 100%;
    font-size: 80%;
}

table {
    border: 0px solid #000000;
    max-width: 100%;
    white-space: nowrap;
}

table.datatables {
    max-width:100%;
    white-space:nowrap;
}

.dmr {
}
