{% extends "layout.html" %}
{% block title %}Call counts{% endblock %}

{% block body %}
    <table class="" style="margin-top: 20px">
    <thead>
        <tr>
            <th>Sample</th>
            <th>Call counts</th>
        </tr>
    </thead>
    <tbody>
    {% for x in results %}
        <tr>
            <td>{{x["sample"]}}</td>
            <td>{{x["count"]}}</td>
        </tr>
    {% endfor%}
    </tbody>
    </table>
{% endblock %}

