{% extends "layout.html" %}
{% block title %}Gender Check{% endblock %}
{% block body %}
    <table class="datatable" style="margin-top: 20px; width: 0px">
        <thead>
            <tr>
                <th>Sample</th>
                <th>Mapped&nbsp;Y</th>
                <th>Mapped&nbsp;X</th>
                <th>Ratio</th>
                <th>Est.&nbsp;Gender</th>
            </tr>
        </thead>
        <tbody>
        {% for e in estimations %}
            <tr>
                <td>{{ e.name }}</td>
                <td>{{ e.reads_y }}</td>
                <td>{{ e.reads_x }}</td>
                <td>{{ e.ratio | round(3, 'floor') }}</td>
                <td>{{ e.est_gender }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

