
{% extends "layout.html" %}
{% block title %}Motif{% endblock %}

{% block body %}
<div class="row left">
    <div class="small-12">
        <p>
        You need to have matplotlib and seaborn installed to use this feature.
        </p>
        <p>
        We recommend installing matplotlib-minimal and seaborn-minimal from our anaconda channel. It contains
        only the features needed for eagle. If you need matplotlib or seaborn for other applications,
        please install the full matplotlib and seaborn packages.
        </p>
    </div>
</div>
{% endblock %}

