<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='deep.ico') }}">

    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/normalize.css') }}" >
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/foundation.css') }}" >
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='select2-3.5.1/select2-foundation5.css') }}" >
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='datatables/dataTables.foundation.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    <script src="{{url_for('static', filename='js/vendor/fastclick.js') }}"></script>
    <script src="{{url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{url_for('static', filename='select2-3.5.1/select2.js') }}"></script>
    <script src="{{url_for('static', filename='datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{url_for('static', filename='datatables/dataTables.foundation.js') }}"></script>
    <script src="{{url_for('static', filename='js/excelexport.js') }}"></script>
    <script src="{{url_for('static', filename='js/csvexport.js') }}"></script>

{% block head %}
{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>


<body>
    <nav class="top-bar" data-topbar data-options="mobile_show_parent_link: false">
        <section class="top-bar-section">
        <ul class="left">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
            <li><a href="{{ url_for('groups') }}">Groups</a></li>
            <li class="has-dropdown">
                <a href="#">Mutations</a>
                <ul class="dropdown">
                    <li><a href="{{ url_for('snp') }}">SNP</a></li>
                    <li><a href="{{ url_for('recessive') }}">Recessive</a></li>
                    <li><a href="{{ url_for('purity_estimation') }}">Purity Estimation</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('structural') }}">Structural</a></li>
            <li><a href="{{ url_for('motif') }}">Motif</a></li>
            <li class="has-dropdown">
                <a href="#">Variants</a>
                <ul class="dropdown">
                    <li><a href="{{ url_for('variant_search') }}">Search</a></li>
                    <li><a href="{{ url_for('call_counts') }}">Call Counts</a></li>
                    <li><a href="{{ url_for('variant_overlap') }}">Overlap</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('gender_check') }}">Gender Check</a></li>
            <li><a href="#" data-reveal-id="issueModal">Report Issue</a></li>
        </ul>
        </section>
    </nav>

    <div id="issueModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h3 id="modalTitle">Important!</h3>
        <p>Never include any patient data when reporting an issue.</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        <a href="https://bitbucket.org/christopherschroeder/eagle/issues" class="button">Report Issue</a>
    </div>

    <div id="content">

    {% block caption %} <h2> {{ self.title() }}</h2> {% endblock %}
    {% block body %} {% endblock %}

    </div>

    <script>
        $(document).ready(function() {
            $("select").select2();
            $(document).foundation();
            $('.datatable').dataTable( {
                "paging":    false,
                "info":      false,
                "searching": false,
            } );
        });
    </script>
</body>
</html>
