{% macro igv_link(chrom, start, end) -%}
    <a href="http://localhost:60151/goto?genome={{ config['REFERENCE'] }}&amp;locus={{ chrom | remove_chr }}:{{ (start | int)-1 }}-{{ (end | int)-1 }}">IGV</a>
{%- endmacro -%}

{% macro igv_open_file(filename, linkname) -%}
    <a href="http://localhost:60151/load?file={{ request.url_root }}{{ filename.lstrip('/') }}&amp;genome={{ config['REFERENCE'] }}">{{ linkname }}</a>
{%- endmacro -%}

{% macro list_out(list) -%}
    {% for item in list %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor%}
{%- endmacro -%}

{% macro list_out_bytes(list) -%}
    {% for item in list %}{{ item.decode() }}{% if not loop.last %}, {% endif %}{% endfor%}
{%- endmacro -%}

{% macro ensemble_link(gene_name) %}
<a href="http://www.ensembl.org/id/{{gene_name}}">{{ gene_name }}</a>
{%- endmacro -%}

{% macro ucsc_link(chrom, pos) %}
<a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db={{ config['REFERENCE'] }}&amp;position=chr{{ chrom }}:{{ pos|int - 1 }}-{{ pos|int + 1}}" target="_blank">UCSC</a>
{%- endmacro -%}

{%- macro genemania_single_link(gene_name) -%}
<a href="http://genemania.org/link?o=human&amp;g={{ gene_name }}">GM</a>
{%- endmacro -%}

{%- macro omim_link(genes) -%}
<a href="http://www.omim.org/search?index=entry&amp;search=
{% for gene in genes %}
{{ gene.decode() }}+
{% endfor %}
">OMIM</a>
{%- endmacro -%}

{%- macro exac_link(chrom, position, ref, alt) -%}
<a href="http://exac.broadinstitute.org/variant/{{ chrom[3:] }}-{{ position }}-{{ ref }}-{{ alt }}" target="_blank"">ExAC (HG19)</a>
{%- endmacro -%}

{%- macro genomad_link(chrom, position, ref, alt) -%}
<a href="http://gnomad.broadinstitute.org/variant/{{ chrom[3:] }}-{{ position }}-{{ ref }}-{{ alt }}" target="_blank"">gnomAD (HG19)</a>
{%- endmacro -%}

{% macro ncbi_link(chrom, pos) -%}
<a href="http://www.ncbi.nlm.nih.gov/variation/tools/1000genomes/?chr={{ chrom }}&from={{ pos }}&to={{ pos }}" target="_blank">1000G (HG19)</a>
{%- endmacro -%}

{% macro dbsnp_link(rsid) -%}
<a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{ rsid }}">{{ rsid }}</a>
{%- endmacro -%}

{% macro all_link(chrom, start, ref, alt, end=None, genes=None, usehg19=False) -%}
    {% if ref and alt %}{% set lo_chromosome, lo_position = liftover(chrom, start, not usehg19) %}{% endif %}
    {% set chrom = chrom[3:] if chrom.upper().startswith("CHR") else chrom %}
    {% set chrom = "MT" if chrom.upper() == "M" else chrom %}
    <td>{{ igv_link(chrom, start, start) if end == None else igv_link(chrom, start, end) }}</td>
    <td>{{ ucsc_link(chrom, start) }}</td>
    <td>{{ ncbi_link(lo_chromosome, lo_position) }}</td>
    <td>{% if genes %}{{ omim_link(genes) }}{% endif %}</td>
    <td>{% if lo_chromosome %}{{ exac_link(lo_chromosome, lo_position, ref, alt) }}{% endif %}</td>
    <td>{% if lo_chromosome %}{{ genomad_link(lo_chromosome, lo_position, ref, alt) }}{% endif %}</td>
{%- endmacro -%}


{%- macro case_control_selection(available_samples, available_groups, healthy=True, single_row=True) -%}
{% if single_row %}
<div class="row left">
{% endif %}
    <div class="small-12 medium-8 large-6 columns left">
        <fieldset>
            <label>select <b>case</b> samples</label>
            <select autofocus="autofocus" multiple name="case">
            {% for sample in available_samples %}
                <option value="{{ sample.samplename }}">{{ sample.samplename }} - {{ sample.disease }}</option>
            {% endfor %}
            </select>
            <label>select <b>groups of cases</b></label>
            <select multiple name="case_group">
            {% for group in available_groups %}
                <option value="{{ group }}">{{ group }} </option>
            {% endfor %}

            {% for disease in available_samples | diseases %}
                <option value="@{{ disease }}">(disease) {{ disease }} </option>
            {% endfor %}
            </select>
        </fieldset>
    </div>


    <div class="small-12 medium-8 large-6 columns left">
        <fieldset>
            <label>select <b>control</b> of samples</label>
            <select multiple name="control">
            {% for sample in available_samples %}
                <option value="{{ sample.samplename }}">{{ sample.samplename }} - {{ sample.disease }}</option>
            {% endfor %}
            </select>
            <label>select <b>groups of control</b></label>
            <select multiple name="control_group">
            {% for group in available_groups %}
                <option value="{{ group }}">{{ group }} </option>
            {% endfor %}

            {% for disease in available_samples | diseases %}
                <option value="@{{ disease }}" {% if disease|capitalize=="Healthy" and healthy %}selected='selected' {% endif %}>{{ disease }}</option>
            {% endfor %}
            </select>
        </fieldset>
    </div>
{% if single_row %}
</div>
{% endif %}
{%- endmacro -%}


{%- macro case_typ_selection(available_samples, available_chromosomes) -%}
<div class="row left">
    <div class="small-12 medium-8 large-6 columns left">
        <fieldset>
            <label>select <b>case</b> of samples</label>
            <select autofocus="autofocus" multiple name="case">
            {% for sample in available_samples %}
                <option value="{{ sample.samplename }}">{{ sample.samplename }} - {{ sample.disease }}</option>
            {% endfor %}
            </select>
            <label>select <b>chromosome</b></label>
            <select multiple name="chromosomes">
            {% for chromosome in available_chromosomes %}
            <option value="{{ chromosome }}">{{ chromosome }}</option>
            {% endfor %}
            </select>
        </fieldset>
    </div>

    <div class="small-12 medium-8 large-4 columns left">
        <fieldset>
            <label><b>Type</b></label>
            <div class="row">
                <input id="ckins" type="checkbox" checked="checked" name="insertion"><label for="ckins">INS</label>
                <input id="ckinv" type="checkbox" checked="checked" name="invariant"><label for="ckinv">INV</label>
                <input id="ckdel" type="checkbox" checked="checked" name="deletion"><label for="ckdel">DEL</label>
            </div>
        </fieldset>
        <fieldset>
            <label><b>constraints</b></label>
            <div class="row">
                <div class="small-6 columns">
                    <label for="right-label" class="right inline">length ></label>
                </div>
                <div class="small-6 columns">
                <input type="text" id="minlength" name="minlength" value="20"/>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <label for="right-label" class="right inline">length <</label>
                </div>
                <div class="small-6 columns">
                <input type="text" id="maxlength" name="maxlength" value="inf"/>
                </div>
            </div>
        </fieldset>
    </div>
</div>
{%- endmacro -%}


{%- macro gene_selection() -%}
<div class="small-12 medium-8 large-4 columns left">
    <fieldset>
    <input id="searchall" name="searchall" type="checkbox" checked=True><label for="searchall">search all available <b>genes</b></label>
    <label>— or —</label>
    <label>following <b>genes</b></label>
    <textarea rows="5" cols="30" name="genes" id="genes">
ARID1A
ARID1B
ARID2
SMARCA2
SMARCA4
SMARCB1
    </textarea>
    </fieldset>
</div>
{%- endmacro -%}

{%- macro effect_selection(effect_names, exon_effects) -%}
<div class="small-12 medium-12 large-12 columns left">
    <fieldset>
    <label>show these <b>effects</b></label>
        <div style="margin-top: 10px">
            <a href="#" class="button small" id="btnexonic">exonic</a>
            <a href="#" class="button small" id="btnall">all</a>
            <a href="#" class="button small" id="btnnone">none</a>
        </div>
        <select class="select2" data-role="chosen" id="effects" multiple name="effects">
        {% for e in effect_names %}
            <option value="{{ e.value }}" {% if e in exon_effects %} selected {% endif %}>{{ effect_names[e] }}</option>
        {% endfor %}
        </select>

    </fieldset>
</div>
{%- endmacro -%}

{%- macro add_option() -%}
<div class="small-12 medium-8 large-4 columns left">
    <fieldset>
    <label><b>Other options</b></label>
        {%- if "hg" in varargs -%}
            {{- hg_selection() -}}
        {%- endif -%}
        {%- if "heterozygosity" in varargs -%}
            {{- heterozygosity_selection() -}}
        {%- endif -%}
    </fieldset>
</div>
{%- endmacro -%}
{%- macro hg_selection() -%}
        <div class="row">
            <input id="usehg19" type="checkbox" name="usehg19" />
            <label for="usehg19">Use hg19 instead of hg38</label>
        </div>
{%- endmacro -%}

{%- macro heterozygosity_selection() -%}
        <div class="row">
            <input id="ckbignorehet" type="checkbox" checked="checked" name="ignore_heterozygosity" />
            <label for="ckbignorehet">ignore heterozygosity</label>
        </div>
{%- endmacro -%}

{%- macro contraint_selection() -%}
<div class="small-12 medium-8 large-4 columns left">
    <fieldset>
    <label><b>constraints</b></label>
        <div class="row">
            <div class="small-6 columns">
                <label for="right-label" class="right inline">quality ></label>
            </div>
            <div class="small-6 columns">
                <input type="text" id="minquality" name="minquality" value="50"/>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <label for="right-label" class="right inline">mapping quality ></label>
            </div>
            <div class="small-6 columns">
                <input type="text" id="minmappingquality" name="minmappingquality" value="40"/>
            </div>
        </div>
    </fieldset>
</div>
{%- endmacro -%}

{%- macro filter_dbsnp() -%}
<div class="small-12 medium-12 large-12 columns left">
    <fieldset>
        <label>filter <b>dbsnp (version 147)</b></label>
        <select name="dbsnp" id="dbsnp">
            <option value="none">None</option>
            <option value="all">all</option>
            <option value="all_without_precious" selected=True>all without precious</option>
            <option value="common">common</option>
            <option value="common_without_precious">common without precious</option>
        </select>
    </fieldset>
</div>
{%- endmacro -%}

