{% extends "layout.html" %}
{% block caption %}{% endblock %}
{% block title %}Motif{% endblock %}


{% block body %}
    <div class="row left">
	<div class="columns small-12 medium-8 large-8">
        <ul class="accordion" data-accordion="myAccordionGroup" style="margin-left:0px">
            <li class="accordion-navigation">
                <a href="#panel1c">Parameters</a>
                <div id="panel1c" class="content">
                    <div class="small-12 medium-12 large-12 columns left">
                        <table>
                            <thead>
                                <tr><th>Name</th><th>Value</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Case</td>
                                    <td>
                                        {% for sample in query.case %}
                                        {{ sample }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                 <tr>
                                    <td>Case Groups</td>
                                    <td>
                                        {% for group in query.case_groups %}
                                        {{ group }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Control</td>
                                    <td>
                                        {% for sample in query.control %}
                                        {{ sample }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Control Groups</td>
                                    <td>
                                        {% for group in query.control_groups %}
                                        {{ group }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
    <div>
        <img src="data:image/png;base64,{{ b64image | safe }}" />
    </div>
{% endblock %}

