{% extends "layout.html" %}
{% from "macros.html" import case_control_selection %}
{% block title %}Motif{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<form method=post action="{{ url_for('motif') }}">
    <div class="clearfix">
        {{ case_control_selection(available_samples, available_groups, False) }}
    </div>

    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
