{% extends "layout.html" %}
{% from "macros.html" import case_control_selection %}
{% block title %}Purity Estimation{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<form method=post action="{{ url_for('purity_estimation') }}">
    <div class="clearfix">

        {{ case_control_selection(available_samples, available_groups) }}

        <div class="row left">
            <div class="small-12 medium-6 large-4 columns left">
                <fieldset>
                <label><b>constraints</b></label>
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="right-label" class="right inline">quality ></label>
                        </div>
                        <div class="small-6 columns">
                            <input type="text" id="minquality" name="minquality" value="50"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 columns">
                            <label for="right-label" class="right inline">quality by depth ></label>
                        </div>
                        <div class="small-6 columns">
                            <input type="text" id="minqd" name="minqd" value="2"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 columns">
                            <label for="right-label" class="right inline">mapping quality ></label>
                        </div>
                        <div class="small-6 columns">
                            <input type="text" id="minmq" name="minmq" value="40"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 columns">
                            <label for="right-label" class="right inline">Haplotype score <</label>
                        </div>
                        <div class="small-6 columns">
                            <input type="text" id="maxhaplotypescore" name="maxhaplotypescore" value="40"/>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>



    </div>

    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
