{% extends "layout.html" %}
{% from "macros.html" import list_out, list_out_bytes, igv_link, ucsc_link, genemania_single_link, omim_link, thousandgenomes_link, ensemble_link %}
{% block caption %}{% endblock %}
{% block title %}SNP{% endblock %}

{% block body %}
    <table class="" style="margin-top: 20px">
    <thead>
        <tr>
            <th>Sample</th>
            <th>Purity</th>
        </tr>
    </thead>
    <tbody>
    {% for r in results %}
        <tr>
            <td>{{ r.sample }}</td>
            <td>{{ r.purity }}</td>
        </tr>
    {% endfor%}
    </tbody>
    </table>
{% endblock %}

