{% extends "layout.html" %}
{% from "macros.html" import contraint_selection, effect_selection, filter_dbsnp %}
{% block title %}Recessive{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<form method=post action="{{ url_for('recessive') }}">
    <div class="row left">
        <div class="small-12 medium-8 large-6 columns left">
            <fieldset>
                <label>select <b>case</b> of samples</label>
                <select tabindex="4" autofocus="autofocus" name="sample">
                {% for sample in available_samples %}
                    <option value="{{ sample }}">{{ sample }}</option>
                {% endfor %}
                </select>

                <label>select sample of <b>mother</b></label>
                <select tabindex="4" autofocus="autofocus" name="parent1">
                {% for sample in available_samples %}
                    <option value="{{ sample }}">{{ sample }}</option>
                {% endfor %}
                </select>

                <label>select sample of <b>father</b></label>
                <select tabindex="4" autofocus="autofocus" name="parent2">
                {% for sample in available_samples %}
                    <option value="{{ sample }}">{{ sample }}</option>
                {% endfor %}
                </select>
            </fieldset>
        </div>

        {{ contraint_selection() }}
        {{ effect_selection(EffectNames, exon_effects) }}
        {{ filter_dbsnp() }}
    </div>

    <div class="row left">
        <button type="submit" class="btn">Submit</button>
    </div>
</form>
{% endblock %}
