{% extends "layout.html" %}
{% from "macros.html" import case_control_selection, gene_selection, contraint_selection, effect_selection, filter_dbsnp, add_option %}
{% block title %}SNPs{% endblock %}
{% block head %}
    <script>
        $(document).ready(function(){
            $(".chzn-select").select2();
            $("#btnexonic").click(function() { $("#effects").val([{% for i in exon_effects %}{% if not loop.first %}, {% endif %}"{{ i.value }}"{% endfor %}]).trigger("change"); });
            $("#btnall").click(function() { $("#effects").val([{% for i in EffectNames %}{% if not loop.first %}, {% endif %}"{{ i.value }}"{% endfor %}]).trigger("change"); });
            $("#btnnone").click(function() { $("#effects").val([]).trigger("change"); });
        });
    </script>
{% endblock %}

{% block body %}

<form method=post action="{{ url_for('snp') }}">
    <div class="clearfix">
        <div class="row left">
        {{ case_control_selection(available_samples, available_groups, single_row=False) }}

            {{ gene_selection() }}

            <div class="small-12 medium-8 large-4 columns left">
                <fieldset>
                    <label>common <b>properties</b></label>
                    <div class="row">
                        <div class="small-8 columns">
                            <label for="right-label" class="right inline">samples per gene >=</label>
                        </div>
                        <div class="small-4 columns">
                            <input type="text" id="samplespergene" name="samplespergene" value="1"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-8 columns">
                            <label for="right-label" class="right inline">samples per variant >=</label>
                        </div>
                        <div class="small-4 columns">
                            <input type="text" id="samplespervariant" name="samplespervariant" value="1"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-8 columns">
                            <label for="right-label" class="right inline">variants per gene >= </label>
                        </div>
                        <div class="small-4 columns">
                            <input type="text" id="variantspergene" name="variantspergene" value="1"/>
                        </div>
                    </div>
                </fieldset>
            </div>

            {{ contraint_selection() }}
            {{ add_option("hg", "heterozygosity") }}
            {{ effect_selection(EffectNames, exon_effects) }}
            {{ filter_dbsnp() }}
        </div>



    </div>

    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
