{% extends "layout.html" %}
{% from "macros.html" import case_typ_selection %}
{% block title %}Structural{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<form method=post action="{{ url_for('structural') }}">
    <div class="clearfix">
        {{ case_typ_selection(available_samples, available_chromosomes) }}
    </div>

    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
