{% extends "layout.html" %}
{% block title %}Variant Search{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<form method=post action="{{ url_for('variant_search') }}">
    <div class="clearfix">
        <div class="row left">
            <div class="small-12 medium-8 large-6 columns left">
                <fieldset>
                <label>Find variants at the following positions</label>
                <textarea rows="5" cols="30" name="regions" id="regions"></textarea>
                </fieldset>
            </div>
        </div>



    </div>

    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
