{% extends "layout.html" %}
{% from "macros.html" import list_out, list_out_bytes, igv_link, ucsc_link, genemania_single_link, omim_link, thousandgenomes_link, ensemble_link %}
{% block caption %}{% endblock %}
{% block title %}SNP{% endblock %}
{% block body %}
<script src="{{url_for('static', filename='js/venn.js') }}"></script>
<script src="{{url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{url_for('static', filename='js/d3-tip.v0.6.3.js') }}"></script>

<div class="venn" style="float:left"> </div>

<script>
// define sets and set set intersections
var sets = [{label: "{{sample1}}", size: {{result.a + result.ab + result.ac + result.abc}} },
            {label: "{{sample2}}", size: {{result.b + result.ab + result.bc + result.abc}} },
            {label: "{{sample3}}", size: {{result.c + result.ac + result.bc + result.abc}} }],
    overlaps = [{sets: [0,1], size: {{result.ab}} },
                {sets: [1,2], size: {{result.bc}} },
                {sets: [0,2], size: {{result.ac}} },
                {sets: [0,1,2], size: {{result.abc}} }];

// get positions for each set
sets = venn.venn(sets, overlaps);

// draw the diagram in the 'simple_example' div
var diagram = venn.drawD3Diagram(d3.select(".venn"), sets, 300, 300);

// add the tooltip to the diagram
var tip = d3.tip().attr("class", "d3-tip").html(
    function (d,i) { return "Size=" + d['size'];});

diagram.svg.call(tip);
diagram.text.style('cursor', 'default')
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide);
</script>


    <table class="" style="margin-top: 20px">
    <thead>
        <tr>
            <th>Samples</th>
            <th>Calls</th>
            <th>Exclusive Calls</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ sample1 }}</td>
            <td>{{ result.a + result.ab + result.ac + result.abc}}</td>
            <td>{{ result.a }}</td>
        </tr>
        <tr>
            <td>{{ sample2 }}</td>
            <td>{{ result.b + result.ab + result.bc + result.abc}}</td>
            <td>{{ result.b }}</td>
        </tr>
        <tr>
            <td>{{ sample3 }}</td>
            <td>{{ result.c + result.ac + result.bc + result.abc}}</td>
            <td>{{ result.c }}</td>
        </tr>
    </tbody>
    </table>

    <table>
    <thead>
        <tr>
            <th>Samples</th>
            <th>Common Calls</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ sample1 }} vs {{ sample2 }}</td>
            <td>{{ result.ab }}</td>
        </tr>
        <tr>
            <td>{{ sample1 }} vs {{ sample3 }}</td>
            <td>{{ result.ac }}</td>
        </tr>
        <tr>
            <td>{{ sample2 }} vs {{ sample3 }}</td>
            <td>{{ result.bc }}</td>
        </tr>
        <tr>
            <td>{{ sample1 }} vs {{ sample2 }} vs {{ sample3 }}</td>
            <td>{{ result.abc }}</td>
        </tr>
    </tbody>
    </table>
{% endblock %}

