{% extends "layout.html" %}
{% from "macros.html" import list_out, list_out_bytes, igv_link, ncbi_link, ucsc_link, genemania_single_link, omim_link, thousandgenomes_link, ensemble_link, dbsnp_link, all_link %}
{% block caption %}{% endblock %}
{% block title %}Variant Search{% endblock %}

{% block body %}
    <table class="" style="margin-top: 20px">
    <thead>
        <tr>
            <th>Location</th>
            <th>Sample</th>
            <th>Alt</th>
            <th>Genotype</th>
            <th>Quality</th>
            <th>Mean mapping quality</th>
            <th>IGV</th>
            <th>UCSC</th>
            <th>1000G (HG19)</th>
            <th>OMIM</th>
            <th>ExAC (HG19)</th>
            <th>gnomAD (HG19)</th>
        </tr>
    </thead>
    <tbody>
    {% for r in results %}
        <tr>
            <td>{{r.chrom}}:{{r.position}}</td>
            <td>{{r.sample}}</td>
            <td>{{r.ref}}>{{r.alt}}</td>
            <td>{{r.genotype}}</td>
            <td>{{r.quality}}</td>
            <td>{{ r.mean_mapping_quality }}</td>
            {{ all_link(r.chrom, r.position, r.ref, r.alt) }}
        </tr>
    {% endfor%}
    </tbody>
    </table>

    <table class="" style="margin-top: 20px">
    <thead>
        <tr>
            <th>Location</th>
            <th>Database</th>
            <th>Alt</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    {% for r in results_db %}
        <tr>
            <td>{{r.chrom}}:{{r.position}}</td>
            <td>{{r.database}}</td>
            <td>{{r.alt}}</td>
            <td>{{dbsnp_link(r.id.decode())}}</td>
        </tr>
    {% endfor%}
    </tbody>
    </table>
{% endblock %}

