{% extends "layout.html" %}
{% from "macros.html" import contraint_selection %}
{% block title %}Variant Overlap{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<form method=post action="{{ url_for('variant_overlap') }}">
    <div class="clearfix">
        <div class="row left">
            <div class="small-12 medium-6 large-4 columns left">
                <fieldset>
                <label><b>pick 3 samples</b> for comparison</label>
                    <select class="select2" tabindex="4" autofocus="autofocus" data-role="chosen" id="samples" multiple name="samples">
                    {% for sample in available_samples %}
                        <option value="{{ sample }}">{{ sample }}</option>
                    {% endfor %}
                    </select>
                </fieldset>
            </div>
            {{ contraint_selection() }}
        </div>
    </div>

    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
