{% extends "layout.html" %}
{% from "macros.html" import list_out, list_out_bytes, igv_link, ucsc_link, genemania_single_link, omim_link, thousandgenomes_link, ensemble_link %}
{% block caption %}<h4>Variant: {{ chrom }}:{{ position }} {{ alt }}</h4> {% endblock %}
{% block title %}Variant Detail{% endblock %}

{% block body %}
    <table class="">
        <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Effect</th>
            <th>Feature</th>
            <th>Rank</th>
            <th>Coding</th>
            <th>HGVSC</th>
            <th>HGVSP</th>
        </tr>
    {% for v in variants %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ v["gene_id"].decode() }}</td>
            <td>{{ EffectNames[v["effect"]] }}</td>
            <td><a target="_blank" href="http://www.ncbi.nlm.nih.gov/gene/?term={{ v["feature_id"].decode() }}">{{ v["feature_id"].decode() }}</a></td>
            <td>{{ v["rank_affected"] }} / {{ v["rank_total"] }}</td>
            <td>{% if v["coding"] %}Coding{% else %}Non-Coding{% endif %}</td>
            <td>{{ v["hgvsc"].decode() }}</td>
            <td>{{ v["hgvsp"].decode() }}</td>
        </tr>
    {% endfor %}
    </table>
        <!--<img src="../images/boxplot/{{ gene_dist_plot }}"/>--!>
    </div>
{% endblock %}

